# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment
.env

# Media & static (collected)
/media/
/staticfiles/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
